 <div class="">
  <div class="mt-3 d-flex gap-3 align-items-center">
              <a class="small cursor-pointer text-decoration-none" (click)="onView()">View</a>

              <div class="dropdown">
                <a
                  class="small dropdown-toggle cursor-pointer text-decoration-none"
                  data-bs-toggle="dropdown"
                  role="button">
                  More
                </a>

                <ul class="dropdown-menu shadow-sm">
                  <li>
                    <button class="dropdown-item" (click)="onEdit()">Edit</button>
                  </li>
                  <li>
                    <button class="dropdown-item" (click)="onDelete()">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
 </div>
 