@if (groupedSignatures?.length) {

  @for (group of groupedSignatures; track group.number) {

    <div class="card shadow-sm mb-4 signature-wrapper">

      <div class="d-flex">

        <div class="parallel-strip d-flex flex-column justify-content-center align-items-center">
          <span class="parallel-text">Parallel signatures</span>
        </div>

        <div class="flex-grow-1 p-3">

          <div class="d-flex align-items-start mb-2">

            <div class="drag-icon me-2">
              <i class="bi bi-grip-vertical"></i>
            </div>

            <div class="fw-bold text-secondary">
              {{ group.number | number:'2.0' }}
            </div>

          </div>

          @for (sig of group.items; track $index) {

            <div class="signature-row py-2">


              @if (sig.property) {
                <div>Property: <b>{{ sig.property }}</b></div>
              }

              @if (sig.role) {
                <div>Role: <b>{{ sig.role }}</b></div>
              }

              @if (sig.adminUnit) {
                <div>Admin unit: <b>{{ sig.adminUnit }}</b></div>
              }

              @if (sig.position) {
                <div>Position: <b>{{ sig.position }}</b></div>
              }

              @if (sig.grade) {
                <div>Grade: <b>{{ sig.grade }}</b></div>
              }

              @if (sig.positionState) {
                <div>State: <b>{{ sig.positionState }}</b></div>
              }

              @if (sig.recursiveLevels !== null) {
                <div>Recursive Levels: <b>{{ sig.recursiveLevels }}</b></div>
              }

              @if (sig.startRecursiveLevel !== null) {
                <div>Start Recursive Level: <b>{{ sig.startRecursiveLevel }}</b></div>
              }

              <div class="small mt-1">
                <a class="text-warning me-2">Edit</a>
                <a class="text-danger">Delete</a>
              </div>

            </div>

          }

        </div>
      </div>
    </div>

  }

}
